.header__section__one{
   background-color: #001E43; 
   height: 70px;
   width: 100%;
}
.header__logo{
   max-width: 150px;
   max-height: 40px;
   margin-left: -5px;
  
}
#logo__link{
/* border: solid red; */
display: flex;
}
#navLink{
   text-decoration: none;
   color: inherit;
}

.header__input__div{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #FFFFFF;
   width: 50%;
   justify-content: space-between;
   /* height: 35px;                  */
   border-radius: 3px;
   margin: auto;
   /* margin-left: 15%; */
   margin-top: -3px;
   height: 37px;
   /* border: solid red; */
}

.header__input__div input{
   border: none;
   outline: none;
   /* margin-left: -60px; */
   border-left: solid 1px#d2d8e0;
   padding-left: 15px;
   font: normal normal normal 13px/14px DM Sans;
   font-family: 'DM Sans', sans-serif;
letter-spacing: 0px;
color: #acafb4;
width: 300px;
padding-right: 10px;
height: 30px;

  
}
.header_first__row__div{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 20px;

/* max-width: 1200px; */
margin: auto;
/* padding-left: 10px; */
/* padding-right: 10px; */
/* border: saddlebrown solid; */

}
.header__serach__p{
   cursor: pointer   ;
   width: 130px;
   
}
.header__serach__p p{

   font: normal normal normal 12px/14px DM Sans;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 0px;
   color: #1C2633;
   opacity: 0.49;
margin: auto;
margin-left: 20px;
}

  .header__serach__span{
     background-color: #46CE04;
     color: #FFFFFF;
     /* height: 100%; */
     /* padding: 6px; */
 width: 40px;
 /* height: 30px; */
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 37px;
  }

  .header__login{
     color: #FFFFFF;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
/* border: solid red; */
    /* justify-content: center; */
     
  }
  .header_first__row__right{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     /* border: solid green; */
     width: 200px;
  }

  .header_first__row__right h6{
     text-align: center;
   font: normal normal normal 11px/5px DM Sans;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 0px;
   color: #CBCBCB;
    
  }
 
  .header_first__row__right h5{
   text-align: center;
   font: normal normal normal 11px/10px DM Sans;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 0px;

  }


.header__login__div{
  align-items: center;
  margin-left: 10px;
margin-top: 10px;

}
.header__login__div:hover{
   color: #46CE04;
}
#login__icon{
   margin: auto;
   font-size: 30px;
}
#login__icon:hover{
   color: #46CE04;
}

 #header__list__icon{
   color: #CBCBCB;
   font-size: 35px;
  
   /* margin-top: -10px; */
   /* margin-right: 10px; */
   cursor: pointer;
  
 }

 @media screen and (min-width: 990px) {
   #header__list__icon{
     display: none;
    }
    .navbar__collpase{
       display: none;
    }
 .shoppinCart__icon__div{
    display: none;
 }
 }


 /* <<<<< >>>>>>>> */
 .header__second__row{
   background-color: #293853;
 }
 .navbars{
  
    background-color: #293853;
    height: 30px;
    width: 100%;
    
 }
 .nav__items{
   
   /* max-width: 1200px; */
   margin: auto;
   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* padding-left: 20px; */
   /* padding-right: 20px; */
/* border: solid red; */

    }
    .nav__items h5{
      font: normal normal normal 11px/28px DM Sans;
      font-family: 'DM Sans', sans-serif;
      letter-spacing: 1.7px;
      color: #FFFFFF;
      text-transform: uppercase;
      
    }
    .nav__items h5:hover{
      color: #46CE04;
    }
    .nav__active h5{
     color: #46CE04;
     font: normal normal normal 11px/28px DM Sans;
     font-family: 'DM Sans', sans-serif;
     letter-spacing: 1.7px;
     /* color: #FFFFFF; */
     text-transform: uppercase;
    }


 @media screen and (max-width: 1000px) {
   .header__input__div input{
     
      outline: none;
      margin-left: -40px;
      border-left: solid 1px#737d8a;
      padding-left: 15px;
      font: normal normal normal 12px/14px DM Sans;
      font-family: 'DM Sans', sans-serif;
   letter-spacing: 0px;
   color: #9A9C9F;
   width: 150px;
   padding-right: 10px;
   height: 30px;
     
   }
  
 }
 .header__logo__div{
    display: flex;
    flex-direction: row;
    /* border: solid red; */
    width: 80%;
 }
 .logo__input{
    display: flex;
    flex-direction: row ;
    /* border: green solid; */
    width: 100%;
 }
 #shoppinCart__icon{
   color: #FFFFFF;
   font-size: 25px;
   margin-top: -17px;
   margin-right: -10px;
   /* position: relative; */
   /* margin-bottom: 70px; */

 }
 #shoppinCart__span{
   color: #FFFFFF;
   background-color:#46CE04 ;
   height: 17px;
   width: 17px;
   border-radius: 50%;
   font-size: 11px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
   position: relative;
   float: right;
   /* margin-right: -40px; */
   /* margin-top: -20px; */
   /* line-height: 50%; */
 }
 .shoppinCart__icon__div{
    /* border: solid yellow; */
 }
 @media screen and (max-width: 990px) {
 
   .header__logo__div{
      display: flex;
    
      width: 100%;
   }
   .logo__input{
      display: flex;
      flex-direction: column ;
      /* border: green solid; */
      width: 100%;
   }
   .header__serach__p{
      display: none;
   }
   .header__input__div{
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #FFFFFF;
      width: 100%;
      justify-content: space-between;
      /* height: 35px;                  */
      border-radius: 3px;
      margin: auto;
      /* margin-left: 15%; */
      /* margin-top: -3px; */
      height: 30px;
      /* border: solid red; */
      margin-top: 10px;
      margin-bottom: 10px;
   }
   .header__serach__span{
    


  height: 30px;
   }
   .header__input__div input{
      border: none;
      outline: none;
      margin-left: 10px;
      padding-left: 15px;
      font: normal normal normal 12px/14px DM Sans;
      font-family: 'DM Sans', sans-serif;
   letter-spacing: 0px;
   color: #9A9C9F;
   width: 100%;
   padding-right: 10px;
   height: 30px;
     
   }
   .header_first__row__right{
      display: none; 
   }
.header__logo{
      max-width: 120px;
      max-height: 30px;
     margin: auto;
     
   }
   .header__section__one{
    
      /* height: 60px; */
     
   }
   .navbars{
      display: none;
    
    }
    /* .header_first__row__div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      
      max-width: 1200px;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      
      } */
      .header__section__one{
         background-color: #001E43; 
         height: 100%;
         width: 100%;
      }

 }


 .navbar__collpase{
   background-color: #293853;
  
 padding-top: 10px;
 padding-bottom: 10px;
 }
 .navbar__collpase h6{
   font: normal normal normal 11px/15px DM Sans;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 1px;
   color: #FFFFFF;
   text-transform: uppercase;
   padding-left: 20px;
  margin-top: 10px;
 /* border-bottom: 1px solid rgb(49, 52, 53); */
  padding-bottom: 4px;
margin-top: 20px;
 }
.nav__active__collapse h6{
   font: normal normal normal 11px/15px DM Sans;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 1px;
   color: #FFFFFF;
   text-transform: uppercase;
   padding-left: 20px;
  margin-top: 10px;
 /* border-bottom: 1px solid rgb(49, 52, 53); */
  padding-bottom: 4px;
  color: #46CE04;
  margin-top: 20px;
}


 .collpase__input__div{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #FFFFFF;
   /* width: 600px; */
  width: 70%;
  max-height: 35px;
   justify-content: space-between;
   /* height: 35px;                  */
   border-radius: 3px;
   /* margin: auto; */
   /* margin-left: 15%; */
   /* margin-top: -3px; */
   margin-left: 20px;
   
}

.collpase__input__div input{
   border: none;
   outline: none;
   /* margin-left: -40px; */

   padding-left: 15px;
   font: normal normal normal 12px/14px DM Sans;
   font-family: 'DM Sans', sans-serif;
letter-spacing: 0px;
color: #9A9C9F;
/* max-width: 250px;   */
width: 100%;
padding-right: 10px;
height: 30px;
  
}

.collpase__serach__p{
   cursor: pointer   ;
   width: 20%;
   
   
}
.collpase__serach__p p{

   font: normal normal normal 12px/14px DM Sans;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 0px;
   color: #1C2633;
   opacity: 0.49;
margin: auto;
margin-left: 20px;
}

  .collpase__serach__span{
     background-color: #46CE04;
     color: #FFFFFF;
     height: 100%;
     padding: 6px;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
 /* width: 40px; */
  }


  .collpase__login{
  
     /* display: flex ;  */

     /* color: #FFFFFF; */
     align-items: center;
     /* margin-left: 7%; */
     /* padding-right: 10px; */
     padding-right: 20px;
    /* float: right; */
    /* border: solid red; */
  }
  .collpase__login p{
   font: normal normal normal 11px/10px DM Sans;
   font-family: 'DM Sans', sans-serif;
   /* margin-top: 20px; */
   text-align: center;
   color: #FFFFFF;
  }
  #collpase__login__icon{
font-size: 25px;
color: #FFFFFF;
margin: auto;
margin-left: 4px;
  }
  .collpase__login{

  
  

   color: #FFFFFF;
  }
  .collpse__first__row{
     display: flex;
     /* justify-content: flex-end; */
     /* border: solid green; */
     justify-content: space-between;
     margin-bottom: -10px;
  }

  #signup-model{
     /* width: 100%; */
     /* border: saddlebrown solid; */
     border-radius: 20px;
     background-color: transparent;
  }