.ad__nav{
    background-color: #001E43; 
    height: 100px;
    width: 100%;
    padding-top: 40px;

}

.ad__nav__content{
    /* background-color: #fff; */
    width: 90%;
    height: 40px;
    margin-top: 10px;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#ad__nav__link{
  padding: 5px; 
  border-radius: 3px; 
  width: 130px;
  cursor: pointer;
  border: none;
}

#ad__nav__logOut{
    border: none;
    padding: 5px; 
    border-radius: 3px; 
    width: 150px;
    cursor: pointer;
    background-color: red;
    color: #fff;  
}